body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    color: red;
   
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
    /*padding-top: 15%;*/
    text-align: center;
    font-size: 4vw;
}

.map-container {
    height: calc(100vh - 56px);
    width: 100vw;
    z-index: -2;
}

.search {
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    /*max-width: min(400px, 80vw);*/
    z-index: 10;
}

.map-card {
    position: absolute;
    top: 0rem;
    left: 0%;
    transform: translateX(0%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
}
.card-container{
    position: absolute;
    top: 3.5rem;
    left: 0%;
    transform: translateX(0%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
}

.input-container2{
    position: absolute;
    top: 4rem;
    left: 70%;
    transform: translateX(-70%);
    width: 100%;
    max-width: 400px;
    z-index: 0;
}

@media only screen and (max-width: 870px) {
    .card-container {
        display: none;
    }
    .input-container2{
        position: absolute;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 400px;
        z-index: 0;
    }
}

.home_width {
    height : 30vw;
}

@media only screen and (max-width: 350px) {
    .home_width {
        height : 57vw;
    }
}
@media only screen and (max-width: 400px) and (min-width: 351px){
    .home_width {
        height : 52vw;
    }
}
@media only screen and (max-width: 500px) and (min-width: 401px){
    .home_width {
        height : 45vw;
    }
}



.search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
}

.map-navbar {
    position: relative;
    z-index: 1;
}

.locate {
    position: absolute;
    top: 1.1rem;
    right: min(0px, 1vw);
    background: none;
    border: none;
    z-index: 10;
}
.locate img {
    cursor: pointer;
}

.input-container{
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: min(400px, 90%);
    width: 100%;
    z-index: 0;
}



.fadeIn {
    animation: fadeIn 1.7s;
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
        padding-top: 5%;
    }
    100% { 
        opacity: 1;
        padding-top: 0%;
    }
  }




.page {
    /*background: var(--geist-background);*/
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='text'],
textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0rem;
    border: 0.17rem solid black;
}

input[type='submit'] {
    background: #ececec;
    border: 0;
    padding: 1rem 2rem;
}

.back {
    margin-left: 1rem;
}

.panel {
    border: 1px solid;
    float:left;
}

#sidebar {
    width: 30%;
    float:left;
}

#content {
    flex: 1;
}

/*.some-page-wrapper {*/
/*    margin: 15px;*/
/*}*/

/*.row {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    width: 100%;*/
/*}*/

/*.column {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-basis: 50%;*/
/*    flex: 2;*/
/*    !*text-align: center;*!*/
/*}*/

/*.centered {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/



